### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
playercount = purchase_data["SN"].value_counts()
playercount = len(playercount)
# print(playercount)
playercount_df = pd.DataFrame(
    {"Total Players": [playercount]}
    )
playercount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
uniqueitems = purchase_data["Item Name"].value_counts()
uniqueitems = len(uniqueitems)
# print(uniqueitems)
averageprice = purchase_data["Price"].mean()
averageprice = "$"+("{:.2f}".format(averageprice))
# print(averageprice)
numberpurchases = purchase_data["Purchase ID"].count()
# print(numberpurchases)
totalrevenue = purchase_data["Price"].sum()
totalrevenue = "$"+("{:.2f}".format(totalrevenue))
# print(totalrevenue)

purchasinganalysis_df = pd.DataFrame(
    {"Number of Unique Items": [uniqueitems], "Average Price": [averageprice], "Number of Purchases": [numberpurchases],
     "Total Revenue": [totalrevenue]
    
    }
    )
purchasinganalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [126]:
unique_df = purchase_data.groupby("SN")
print(unique_df["Gender"].count())

unique_df["Gender"].sum()

SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
Aelastirin39       2
Aelidru27          1
Aelin32            3
Aelly27            2
Aellynun67         1
Aellyria80         1
Aelollo59          2
Aenarap34          1
Aeral43            1
Aeral68            1
Aeral97            1
Aeralria27         1
Aeralstical35      1
Aeri84             1
Aerillorin70       1
Aerithllora36      2
Aerithnucal56      1
Aerithnuphos61     1
Aerithriaphos45    1
Aerithriaphos46    1
Aesri53            1
Aesty53            2
Aestysu37          2
Aesur96            1
Aesurstilis64      1
                  ..
Undosia27          1
Undosian34         2
Undotesta33        1
Wailin72           1
Yadacal26          2
Yadaisuir65        1
Yadam35            1
Yadanu52           1
Yadaphos40         2
Yalae81            2
Yalaeria91         1
Yaliru88           1
Yalo85             1
Yalostiphos68      1
Yana46             1
Yarithllodeu72     1
Yarithrgue83       1
Yarithrin84        1
Yarithsurgue62     1
Yarolwen77         1
Yasrisu92          1
Yastyriaphos75     1
Yasur35            1
Yasur85            1
Yathecal72         1
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3
Name: Gender, Length: 576, dtype: int64

SN
Adairialis76                     Male
Adastirin33                    Female
Aeda94                           Male
Aela59                           Male
Aelaria33                        Male
Aelastirin39                 MaleMale
Aelidru27                        Male
Aelin32                  MaleMaleMale
Aelly27                      MaleMale
Aellynun67                       Male
Aellyria80                       Male
Aelollo59                    MaleMale
Aenarap34                        Male
Aeral43                          Male
Aeral68                          Male
Aeral97                          Male
Aeralria27                       Male
Aeralstical35                    Male
Aeri84                           Male
Aerillorin70                     Male
Aerithllora36            FemaleFemale
Aerithnucal56                    Male
Aerithnuphos61                   Male
Aerithriaphos45                  Male
Aerithriaphos46                  Male
Aesri53                          Male
Aesty53                      MaleMale
Aestysu37                    MaleMale
Aesur96                          Male
Aesurstilis64                    Male
                          ...
Undosia27                        Male
Undosian34                   MaleMale
Undotesta33                      Male
Wailin72                       Female
Yadacal26                    MaleMale
Yadaisuir65                      Male
Yadam35                          Male
Yadanu52                         Male
Yadaphos40                   MaleMale
Yalae81                      MaleMale
Yalaeria91                       Male
Yaliru88                         Male
Yalo85                           Male
Yalostiphos68                    Male
Yana46                         Female
Yarithllodeu72                   Male
Yarithrgue83                     Male
Yarithrin84                    Female
Yarithsurgue62                   Male
Yarolwen77                       Male
Yasrisu92                        Male
Yastyriaphos75                   Male
Yasur35                          Male
Yasur85                          Male
Yathecal72                       Male
Yathecal82         FemaleFemaleFemale
Yathedeu43                   MaleMale
Yoishirrala98                  Female
Zhisrisu83                   MaleMale
Zontibe81                MaleMaleMale
Name: Gender, Length: 576, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
malepurchasecount = (purchase_data["Gender"]=='Male').sum()
# print(malepurchasecount)

femalepurchasecount = (purchase_data["Gender"]=='Female').sum()
# print(femalepurchasecount)

otherpurchasecount = (purchase_data["Gender"]=='Other / Non-Disclosed').sum()
# print(otherpurchasecount)

purchase_data.groupby('Gender')['Price'].sum()

maletotalprice = 1967.64
femaletotalprice = 361.94
othertotalprice = 50.19

averagemaleprice = (maletotalprice/malepurchasecount)
averagemaleprice = ("{:.2f}".format(averagemaleprice))
# print(averagemaleprice)
averagefemaleprice = (femaletotalprice/femalepurchasecount)
averagefemaleprice = ("{:.2f}".format(averagefemaleprice))
# print(averagefemaleprice)
averageotherprice = (othertotalprice/otherpurchasecount)
averageotherprice = ("{:.2f}".format(averageotherprice))
# print(averageotherprice)

averagemaleprice_unique = (maletotalprice/male_count_unique)
averagemaleprice_unique = ("{:.2f}".format(averagemaleprice_unique))
# print(averagemaleprice_unique)
averagefemaleprice_unique = (femaletotalprice/female_count_unique)
averagefemaleprice_unique = ("{:.2f}".format(averagefemaleprice_unique))
# print(averagefemaleprice_unique)
averageotherprice_unique = (othertotalprice/other_count_unique)
averageotherprice_unique = ("{:.2f}".format(averageotherprice_unique))
# print(averageotherprice_unique)

In [120]:
genderpurchanalysis_df = pd.DataFrame(
    {"Purchase Count": [femalepurchasecount, malepurchasecount, otherpurchasecount],
     "Average Purchase Price": [("$"+averagefemaleprice), ("$"+averagemaleprice), ("$"+averageotherprice)],
     "Total Purchase Value": [("$"+str(femaletotalprice)), ("$"+str(maletotalprice)), ("$"+str(othertotalprice))],
     "Avg Total Purchase per Person": [("$"+averagefemaleprice_unique), ("$"+averagemaleprice_unique), ("$"+averageotherprice_unique)],
     "Gender": ["Female", "Male", "Other / Non-Disclosed"]
     }
)


newgenderpurchanalysis_df = genderpurchanalysis_df.set_index("Gender")
newgenderpurchanalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [127]:
# print(purchase_data["Age"].max())

bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

pd.cut(unique_df["Age"], bins, labels=group_labels)
unique_df

ValueError: setting an array element with a sequence

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame